.card{
    height:60vh;
    margin: 25px;
    padding:25px;
}
.center{
    margin-top:170px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#second{
    margin-top:120px;
    height: 162px;
    width:250px;
}
h4,h6{
    font-weight: 400;
}
.back-button{
    padding: 0 !important;
    width: 75px;
    margin: 13px !important;
    font-weight: 900;
}
