<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">BookStore</a>
  <form class="form-inline" *ngIf="!isLoggedIn">
    <button routerLink="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
    <button routerLink="/register" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
  </form>
  <form class="form-inline" *ngIf="isLoggedIn">
    <button routerLink="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="signOut()">Sign
      OUt</button>
    <button  class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="getUserCart()">Cart</button>
  </form>
</nav>

<router-outlet></router-outlet>